---
apiVersion: v1
kind: Service
metadata:
  name: teastore-db-service
spec:
  type: ClusterIP
  selector:
    app: "teastore-db"
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: teastore-db
  labels:
    app: teastore-db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: teastore-db
  template:
    metadata:
      labels:
        app: teastore-db
    spec:
      containers:
        - name: teastore-db-container
          image: docker.io/library/teastore-db:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3306
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: teastore-app
  labels:
    app: teastore-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: teastore-app
  template:
    metadata:
      labels:
        app: teastore-app
    spec:
      containers:
        - name: teastore-app-container
          image: docker.io/library/teastore-webui:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: HOST_NAME
              value: "webui"
            - name: REGISTRY_HOST
              value: "registry"
            - name: DB_HOST
              value: $(TEASTORE_DB_SERVICE_SERVICE_HOST)
            - name: DB_PORT
              value: "3306"

          ports:
            - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: teastore-service
spec:
  type: NodePort
  selector:
    app: teastore-app
  ports:
    - name: http
      protocol: TCP
      port: 8080
      targetPort: 8080
      nodePort: 32001
